
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Playwrite+DE+LA:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--background-color:#151D28;
--box-bg-color: #101010;
--primary-color: #2563eb;
--hero-background:#e9ecef;
}

html{
  font-family:"Roboto", sans-serif;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

::-webkit-scrollbar {
  display: none;
}


@layer components{ 
  
 

  .glass-white{
    background: rgba(14, 14, 14, 0.93); /* Adjust opacity as needed */
    backdrop-filter: blur(10px); /* Apply the blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .glass{
    background: rgba(255, 255, 255, 0.1); /* Adjust opacity as needed */
    backdrop-filter: blur(10px); /* Apply the blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .hero-shadow{
    box-shadow: inset 0 0 1px 2px #151D28;
  }


.bg-box-color{
  background: radial-gradient(ellipse at 50% 50%, #1C1C1D 0%, #101010 100%);
}
.bg-main-color{
  background: radial-gradient(circle at 50% 50%, #151D28 48%, #101010 100%);
}
.bg-hero{
  background: url(./assets/Hero.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position:bottom right;

}


.timeline{
  display:grid;
  width:100%;
  height:100%;
  grid-template-columns: 40% 0.25rem 40%;
  grid-template-areas: 
 "first second third"
  "fourth second fifth"
  "sixth second seventh";
  column-gap:0.75rem;
  padding:1rem;
}

.first-message{
  grid-area:third;
  align-self: left;
}
.timeline-column{
  grid-area:second;
  align-self: center;
}
.second-message{
  grid-area:fourth
}
.third-message{
  grid-area:seventh;
}


.shadow-box{
  background: linear-gradient(
				to bottom,
				rgba(0,0,0,0) 0%,
				rgba(0, 0, 0, 0.801) 100%
			);
}

.message{
  grid-area:message;
}
.thankyou{
  grid-area:thankyou;
}
.hero{
  grid-area:hero;
}
.mvp{
  grid-area:mvp;
}
.weather{
  grid-area:weather;
}
.about{
  grid-area:about;
}
.introduction{
  grid-area:introduction;
}
.technology{
  grid-area:technology;
}
.timeline-container{
  grid-area:timeline;
}
.contact{
  grid-area:contact;
}
.socials{
  grid-area:socials;
}

.empty{
  grid-area:empty;
}


.projects{
  grid-area:projects;
}
.poppins{
  font-family:"Poppins",sans-serif;
}
.signature{
  font-family: 'Playwrite DE LA', cursive;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .tablet-grid-contact {
    display: grid; 
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1rem;
    grid-template-areas:
      "hero socials"
      "hero about"
      "hero thankyou"
      "message message"
      "empty empty";
  }
 
  .tablet-grid {
    grid-template-columns:repeat(2,minmax(0,1fr));
    grid-gap:1rem;
    grid-template-areas:
    "hero weather"
    "hero about"
    "hero timeline"
    "introduction introduction"
    "technology technology"
    "socials contact"
    "empty empty"
  }
  .tablet-grid-projects{
    grid-template-columns:repeat(2,minmax(0,1fr));
    grid-gap:1rem;
    grid-template-areas:
    "hero mvp"
    "hero about"
    "hero technology"
    "projects projects"
    "empty empty"
  }
}


.scale-up-center {
	-webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation-delay:0.2s;
}
.scale-up-center-second {
	-webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation-delay:0.3s;
}
.scale-up-center-third {
	-webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation-delay:0.4s;
}
.scale-up-center-fourth {
	-webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation-delay:0.5s;
}
.scale-up-center-fifth {
	-webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation-delay:0.6s;
}
.scale-up-center-sixth {
	-webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation-delay:1s;
}
.scale-up-center-seventh {
	-webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation-delay:1.1s;
}

@-webkit-keyframes scale-up-center {
  0% {
    opacity:0;
  }
  25%{
    opacity:0.25};

  50%{
    opacity:0.5
  }
  100% {
            opacity:1;
  }
}
@keyframes scale-up-center {
  0% {
    opacity:0;
  }
  25%{
    opacity:0.25};

  50%{
    opacity:0.5
  }
  100% {
            opacity:1;
  }
}

.card {
  position: relative;
}
.card:after {  
  content: "";
  height: 50px;
  width: 1px;  
  position: absolute;  
  left: -1px;
  top: 65%;
  transition: top, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
  background: linear-gradient(
    transparent,
    var(--primary-color),
    transparent
  );
  opacity: 0;
}

.card:after {  
  top: 65%;
  opacity: 0;
}

.card:hover:after {
  top: 25%;
  opacity: 1;
}
.example-test{
  z-index:10;
  grid-area:second;
  align-self:end;
  position:absolute;
  width:100%;
  bottom:0;
  height:100%;
  background-color:white;
  transform-origin: bottom;
 animation: expandHeight 1s forwards;
 animation-delay:1s;
 border-radius:5px;

}
@keyframes expandHeight {
  from {
      height: 0;
     
  }
  to {
      height: 100%;
      
  }
}

.slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
.laptop {
  grid-template-columns:repeat(3,minmax(0,1fr));
  grid-gap:1rem;
  grid-template-areas:
  "hero weather mvp"
  "hero about timeline"
  "introduction introduction socials"
  "technology technology contact"
  "empty empty empty"

}
}
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.link{
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to right, #23abd4, #23abd4 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.link:before{
  display: block;
  content: '';
  width: 0;
  height: 3px;
  bottom: 5px;
  left: 0;
  bottom: -3px;
  z-index: 0;
  position: absolute;
  background: #23abd4;
  transition: all 0.3s ease-in-out;
}

.link:hover{
  background-position:0%;
}
.link:hover:before{
  width:100%;
}

}